<head>
	<% content_for :title do %>Docente | Ver notas<% end %> 
</head>

<nav class="top-bar" data-topbar> 
	<ul class="title-area"> 
		<li class="name"> 
			<h1><a href="../archivos/cargar">Subir archivo</a></h1> 
		</li> 
	</ul> 
	<ul class="title-area"> 
		<li class="name"> 
			<h1><a href="inicio">Ver notas</a></h1> 
		</li> 
	</ul> 
	<ul class="title-area"> 
		<li class="name"> 
			<h1><a href="#">Enviar informaci&oacute;n</a></h1> 
		</li> 
	</ul> 
	<ul class="title-area"> 
		<li class="name"> 
			<h1><%= link_to 'Salir', root_path %></h1> 
		</li> 
	</ul> 
</nav>

<div class="row">
<div class="small-6 large-12 columns"><%= image_tag "BANNER2.png" %></div> 
</div>

<h2>Notas de <%= session['materiaDocente'] %> </h2>
 <p>Docente: <%= session['nombreDocente'] %> </p>

 <section>
<table >
    <tr>
        <td>Nombre </td> 
        <td>Apellido </td> 
        <td>cedula </td> 
        <td>Nota examen 1 </td> 
        <td>Nota examen 2 </td> 
        <td>Nota examen 3 </td>
        <td>Nota definitiva </td>
    </tr> 
    <% cont=0 %>
    <% for i in (1.. (@tabla.length/7)) %>
	    <tr>
	        <td> <%= @tabla[cont] %> </td> 
	        <% cont=cont+1 %>
	        <td> <%= @tabla[cont] %> </td> 
	        <% cont=cont+1 %>
	        <td> <%= @tabla[cont] %> </td> 
	        <% cont=cont+1 %>
	        <td> <%= @tabla[cont] %> </td>
	        <% cont=cont+1 %>
	        <td> <%= @tabla[cont] %> </td>
	        <% cont=cont+1 %>
	        <td> <%= @tabla[cont] %> </td>
	        <% cont=cont+1 %>
	        <td> <%= @tabla[cont] %> </td>
	        <% cont=cont+1 %>
		</tr>
	<% end %>
</table>
</section>

<footer class="row">
<div class="small-3 large-3 columns">Derechos de autor 2014</div>
<div class="small-3 large-3 columns">Todos los derechos reservados</div>

</footer>